* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1000px, 500px;
    grid-template-areas: 
    "img question";
}

.img ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    grid-area: img;
    width: 1000px;
    height: 700px;
}

.img img {
    width: 130px;
}

.questions {
    grid-area: question;
    width: 500px;
}

.questions ul {
    list-style-type: none;
}

#bon{
    border: 5px solid red;
}